<!-- <div class="container-fluid">
  <div class="row">
    <div class="col my-2">
      
<span> 
  <button class="btn bg-dark mx-2"routerLink="/home" style="color:white">
    Home
  </button>
</span>
<span>
  <button class="btn bg-dark mx-2" routerLink="/news/tech" style="color:white">
    News
  </button>
</span>
<span>
  <button class="btn bg-dark mx-2 white" routerLink="/jobs/software" style="color:white">Jobs</button>
</span>
    </div>
  </div>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>