<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <thead class="table-header table-header-dark">
                    <tr>
                        <th>id</th>
                        <th>URL</th>
                        <th>Params</th>
                        <th>LastChecked</th>
                        <th>Category</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let source of this.sources">
                        <td *ngFor="let sourceField of source; index as i">
                            <button class="btn btn-danger w-100 btn-sm" *ngIf="i==0" (click)="this.removeSource(sourceField)">{{sourceField}}</button>
                            <div *ngIf="i!=0">{{sourceField?sourceField:'None'}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-primary btn-sm" (click)="this.addSource()">add new</button></td>
                        <td><input class="w-100" type="text" placeholder="url" [(ngModel)]="this.url"></td>
                        <td><input class="w-100" type="text" placeholder="params" [(ngModel)]="this.params"></td>
                        <td><input class="w-100" type="text" placeholder="Date Today" [(ngModel)]="this.date"></td>
                        <td><input class="w-100" type="text" placeholder="Category" [(ngModel)]="this.category"></td>
                        <td><input class="w-100" type="text" placeholder="Genre" [(ngModel)]="this.genre"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>