<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>
                <strong style="text-decoration: underline;">
                    Ted's Current Events
                </strong>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <p>
                Welcome to my current events!
            </p>
            <p>
                This project has been built to gather news articles or other items from websites that -you- think are
                important.
            </p>
            <p>
                In order for this to work for you locally, you need to first have set up your own local database,
                set the feedparser.py to run on a timer, or just run it whenever you want, and set the articlesOutput.py
                file to run on a Flask server.
            </p>
            <p>
                The button in the top right corner will let you manage your sources. Once you add or remove one, it will
                update the navigation bar at the top of the screen
                with whatever new categories or genres you added.
            </p>
            <p>
                Once you've got it set up, you can go to each set of articles that you've acquired and search for keywords. I've added a button to view
                the preview of the articles on the same page. If you click on the link for an article it will take you to the original author's website where the full article can be viewed.
                
            </p>


        </div>
    </div>
</div>