<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>
                <strong style="text-decoration: underline;">
                    Ted's Current Events
                </strong>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <p>
                Welcome to my current events!

                This project has been built to gather news articles or other items from websites that -you- think are important.

                In order for this to work for you locally, you need to first have set up your own local database

                The button in the top right corner will let you manage your sources. 
                
                
            </p>
        </div>
    </div>
</div>